/* table#times-table thead{
  display: flex;
} */

table#times-table tbody{
  border: 1px solid #000;
}

table#times-table tbody td {
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

table#times-table tbody td:hover {
  background-color: var(--light-gray);
  transition: background-color 0.2s ease-in-out;
}